* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 8vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
    text-transform: uppercase;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0vw;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: .73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 span {
    font-size: .74vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

.nav-part2 h5 {
    margin-bottom: .8vw;
    display: none;
    overflow: hidden;
}

/* 
nav:hover #nav-bottom {
    height: 100%;
    bottom: -100%;
    background-color: #111;
} */

#nav-bottom {
    position: absolute;
    top: 100%;
    height: 0vh;
    width: 80%;
    border-bottom: 1px solid #dadada;
    background-color: #111;
    z-index: 9;
}

nav button {
    background-color: #0CA24E;
    display: flex;
    align-items: center;
    padding: 18px 16px;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    font-size: .85vw;
    font-weight: 700;
}

nav button svg {
    height: .85vw;
    margin-left: 1.5vw;
}

.bottom-div {
    margin-top: 2vw;
}

.bottom-div h5 {
    overflow: hidden;
    margin-bottom: .4vw;
}

.bottom-div h5 span {
    display: inline-block;
    font-size: .85vw;
    font-weight: 500;
    opacity: 0;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h1 {
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8vw;
    letter-spacing: -.1vw;
}

#page1 h1 svg {
    height: 6vw;
    width: 6vw;
    background-color: #0CA24E;
    border-radius: 50%;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 2.5vh;
}

#page1-text-circle1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-text-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-text-circle h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: .5vw;
    padding: 5px 12px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;

}

#page1-text-circle h4:nth-last-child(2) {
    border: none;
    padding: 2px;
}

#moving-div {
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;
}

#moving-div .move {
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 1vw;
    margin: 0 1.2vw;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%)
    }
}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #111, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}